name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]
        compiler: [gcc]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 1
        submodules: true
    - name: disable man-db trigger # See https://github.com/actions/runner-images/issues/10977
      run: |
        echo "set man-db/auto-update false" | sudo debconf-communicate
        sudo dpkg-reconfigure man-db
    - name: update
      run: |
        echo deb https://psha.org.ru/debian/ `echo ${{ matrix.os }} | tr -d -` contrib backports | sudo tee /etc/apt/sources.list.d/psha.org.ru.list
        sudo wget -O/etc/apt/trusted.gpg.d/psha.org.ru.gpg https://psha.org.ru/debian/pubkey.gpg
        sudo apt update
    - name: install deps
      run: sudo apt install meson pkgconf libfmt-dev libtll-dev libudev-dev
    - name: configure
      run: meson setup build
    - name: build
      run: ninja -vC build -j2
    - name: test
      run: |
        meson test -C build --no-rebuild --print-errorlogs -v

# vim: sts=2 sw=2 et
